body {
      font-family: PT Sans, sans-serif;
      width: 960px;
      margin: 3em auto 1em;
    }

    h1 {
      font-size: 1.75em;
      margin-bottom: 3em;
      text-align: center;
      color: #999;
    }

    svg {
      font: 10px sans-serif;
    }

    .area {
      fill: steelblue;
      clip-path: url(index.html#clip);
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .brush .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
