body {
  font-family: PT Sans, sans-serif;
  width: 760px;
  max-width: 100%;
  margin: 1em auto 1em;
}

#stocks {
  position: relative;
  border: 30px #f3f3f3 solid;
  font-size: 0.75em;
  cursor: default;
  margin: 0 auto;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* Main definitions */

#stocks svg {
  display: block;
  position: absolute;
  top: 0;
}

.area {
  fill: steelblue;
  fill-opacity: 0.2;
  stroke: steelblue;
  stroke-opacity: 0.5;
}

path {
  fill: none;
  stroke: black;
  stroke-opacity: 0.4;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
}

.axis .tick line {
  stroke-opacity: .05;
}

/* Selector */

.select {
  font-size: 0.95em;
  font-weight: normal;
  fill: #BBBBBB;
  cursor: pointer;
}

.relative .relative, .absolute .absolute {
  font-size: 1.2em;
  font-weight: bold;
  fill: #111111;
}


/* Legends */

.legend{
  font-weight: bold;
  font-size: 0.85em;
  fill: #BBBBBB;
}

.date {
  font-style: italic;
  font-size: 1.1em;
  fill: #CCCCCC;
}


/* Date selector */

.range {
  font-size: 1.1em;
  fill: #888888;
}

.range tspan[class] {
  cursor: pointer;
}

.range .active {
  fill: #000000;
  font-weight: bold;
}


/* Focus and overlay */

.overlay {
  fill: none;
  pointer-events: all;
}

.focus line {
  stroke: black;
  stroke-opacity: 0.2;
}



