body {
  font-family: PT Sans, sans-serif;
  width: 800px;
  margin: 3em auto 1em;
}

h1 {
  font-size: 1.75em;
  margin-bottom: 1em;
  text-align: center;
  color: #999;
}

svg {
  font-size: 0.75em;
}

.area {
  fill: steelblue;
  fill-opacity: 0.2;
  stroke: steelblue;
  stroke-opacity: 0.5;;
}

path {
  fill: none;
  stroke: black;
  stroke-opacity: 0.4;;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
}

.plot path.price {
  stroke-width: 1.5px;
}

.plot path.ewma12 {
  stroke: lightcoral;
  stroke-opacity: 0.3;
}

.plot path.ewma26 {
  stroke: steelblue;
  stroke-opacity: 0.3;
}


.plot .bollinger {
  fill: black;
  fill-opacity: 0.06;
  stroke: none;
}

.brush .extent {
  stroke: #bbb;
  fill-opacity: .125;
}

.axis.y .tick:not(.tick-one) line {
  stroke-opacity: .1;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus line {
  stroke: black;
  stroke-opacity: 0.2;
}

.valeurs {
  fill: #777;
}



/* Affichage du MACD */

.macd {
  stroke: lightcoral;
  stroke-opacity: 0.3;
}

.signal {
  stroke: steelblue;
  stroke-opacity: 0.3;
}

.positif {
  fill: green;
  fill-opacity: 0.7;
  stroke: none;
}

.negatif {
  fill: firebrick;
  fill-opacity: 0.7;
  stroke: none;
}
