body {
      font-family: PT Sans, sans-serif;
      width: 800px;
      margin: 3em auto 1em;
    }

    h1 {
      font-size: 1.75em;
      margin-bottom: 1em;
      text-align: center;
      color: #999;
    }

    svg {
      font-size: 0.75em;
    }

    .area, .line {
      fill: steelblue;
      clip-path: url(../index.html#clip);
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }

    .brush .extent {
      stroke: #fff;
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }
