body {
  font-family: PT Sans, sans-serif;
  width: 760px;
  max-width: 100%;
  margin: 1em auto 1em;
}

#stocks {
  position: relative;
  border: 30px #f3f3f3 solid;
  font-size: 0.75em;
  cursor: default;
  margin: 0 auto;

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


/* Définitions principales */

#stocks svg {
  display: block;
}

.area {
  fill: steelblue;
  fill-opacity: 0.2;
  stroke: steelblue;
  stroke-opacity: 0.5;
}

path {
  fill: none;
  stroke: black;
  stroke-opacity: 0.4;
}

.axis path,
.axis line {
  fill: none;
  stroke: #777;
}


/* Courbes du graphique principal */

.div_plot path.close {
  stroke-width: 1.5px;
}

.div_plot path.ewma12 {
  stroke: rgb(240, 128, 128);
  stroke-opacity: 0.7;
}

.div_plot path.ewma26 {
  stroke: rgb(70, 130, 180);
  stroke-opacity: 0.5;
}

.div_plot .band {
  fill: black;
  fill-opacity: 0.06;
  stroke: none;
}


/* Courbes du module MACD */

path.macd {
  stroke: rgb(240, 128, 128);
  stroke-opacity: 0.3;
}

path.signal {
  stroke: rgb(70, 130, 180);
  stroke-opacity: 0.3;
}

.positif {
  fill: rgb(0, 128, 0) ;
  fill-opacity: 0.7;
  stroke: none;
}

.negatif {
  fill: rgb(178, 34, 34);
  fill-opacity: 0.7;
  stroke: none;
}


/* Courbes du module MACD */

path.rsi {
  stroke: rgb(152, 21, 133);
  stroke-opacity: 0.3;
  stroke-width: 1.5px;
}


/* Sélecteur */

.selecteur {
  font-size: 0.95em;
  font-weight: normal;
  fill: #BBBBBB;
}

.selecteur {
  cursor: pointer;
}

.relative .relative, .absolute .absolute {
  font-size: 1.2em;
  font-weight: bold;
  fill: #111111;
}


/* Légendes */

.lgd_date {
  font-style: italic;
  fill: #CCCCCC;
  font-size: 1.1em;
  font-weight: bold;
}

.lgd_value, .lgd_diff, .lgd_name, .lgd_val {
  font-weight: bold;
}

.lgd_diff {
  fill: #BBBBBB;
  dominant-baseline: central;
}

.lgd_plot, .lgd_diff, .lgd_triangle, .lgd_ma , .lgd_rs{
  font-size: 0.85em;
}

.lgd_plot, .lgd_ma, .lgd_rs {
  fill: #BBBBBB;
}

.lgd_band {
  fill: #CCCCCC;
}

.lgd_ewma12 {
  fill: rgba(240, 128, 128, 0.7);
}

.lgd_ewma26 {
  fill: rgba(70, 130, 180, 0.5);
}

.lgd_macd {
  fill: rgba(240, 128, 128, 0.5);
}

.lgd_rsi {
  fill: rgba(152, 21, 133, 0.4);
}

.lgd_signal {
  fill: rgba(70, 130, 180, 0.5);
}

.plus {
  fill: rgba(0, 128, 0, 0.5);
}

.minus {
  fill: rgba(178, 34, 34, 0.5);
}


/* Sélecteur de date */

.range {
  font-size: 1.1em;
  fill: #888888;
  cursor: pointer;
}

.range .active {
  fill: #000000;
  font-weight: bold;
}


/* Divers */

.brush .extent {
  stroke: #bbb;
  fill-opacity: .125;
}

.axis.y .tick line {
  stroke-opacity: .4;
}

.axis.y .tick:not(.tick-one) line {
  stroke-opacity: .05;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus line {
  stroke: black;
  stroke-opacity: 0.2;
}



